#footer
{
  z-index: 10;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #813822;
  width: 100vw;
  color: #ffffff;
  align-items: center;
}